body {
    font-family: 'Lexend', sans-serif;
    margin: 20px;
}

.container.large {
    width: 90%; /* Larger container width */
    margin: 0 auto;
}

th {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 18px; /* Larger title text */
}

td {
    font-size: 14px; /* Smaller body text */
    text-align: center;
    vertical-align: middle;
}

.search-bar {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}

.notes {
    text-align: left;
}

.team-icon, .photos {
    width: 100px;
}

.photos img {
    cursor: pointer;
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.photos img:hover {
    transform: scale(1.1);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-width: 80%; /* Larger popup width */
    max-height: 80%; /* Larger popup height */
    overflow: auto;
}

.popup img {
    width: 100%;
    height: auto;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
    color: #333;
}
